div.widget.clock
  object(
  classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000',
  codebase='http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0',
  width='270',
  height='70',
  id='honehoneclock',
  align='middle')
    param(name='allowScriptAccess', value='always')
    param(name='movie', value=url_for('flash/clock.swf'))
    param(name='play', value='true' )
    param(name='quality', value='high')
    param(name='bgcolor', value='#ffffff')
    param(name='wmode', value='transparent')
    embed(
    wmode='transparent',
    src='flash/clock.swf',
    quality='high',
    bgcolor='#ffffff',
    width='270',
    height='70',
    name='honehoneclock',
    align='middle',
    allowscriptaccess='always',
    type='application/x-shockwave-flash',
    pluginspage='http://www.macromedia.com/go/getflashplayer')
