if theme.duoshuo
  div.widget.recent_comments
    h3.widget-title= __('recent_comments')
    ul.widget-content.ds-recent-comments(
    data-num-items='5',
    data-show-avatars='0',
    data-show-title='1',
    data-show-time='1')