script(charset='utf-8', src=url_for('/js/lib/jquery-2.1.3.min.js'))
script(charset='utf-8', src=url_for('/js/lib/jquery.imagesloaded.min.js'))
script(charset='utf-8', src=url_for('/fancybox/jquery.fancybox.pack.js'))
script(charset='utf-8', src=url_for('/js/lib/sea.js'))
script(charset='utf-8', src=url_for('/js/main.js'))

include ../_tools/load-duoshuo
